.online-application-form{
  background-color:#F0F4F8;
  margin-bottom: 180px;
  &__inner{
    background: #FFFFFF;
    box-shadow: 6px 6px 70px rgba(0, 0, 0, 0.09);
    border-radius: 64px 6px;
  }
}
