<!-- <div class="calculate-popup"></div> -->
<div class="calculate-popup">
  <div id="calculate-popup" class="calculate-popup__wrapper" style="display:none;max-width:590px;">
    <div class="calculate-popup__inner">
      <div class="calculate-popup__column">
        <p class="calculate-popup__column-title">Инвестициионный калькулятор</p>
        <ul class="calculate-popup__column-list">
          <li class="calculate-popup__column-item">
            <a data-fancybox data-src="#calculate-popup-big" href="#" class="calculate-popup__column-mark">до 17,5%</a>
            <a data-fancybox data-src="#calculate-popup-big" href="#" class="calculate-popup__column-link">Вклад Накопительный</a>
          </li>
          <li class="calculate-popup__column-item">
            <a data-fancybox data-src="#calculate-popup-big" href="#" class="calculate-popup__column-mark">до 16,2%</a>
            <a data-fancybox data-src="#calculate-popup-big" href="#" class="calculate-popup__column-link">Вклад Активный</a>
          </li>
          <li class="calculate-popup__column-item">
            <a data-fancybox data-src="#calculate-popup-big" href="#" class="calculate-popup__column-mark">до 15,5%</a>
            <a data-fancybox data-src="#calculate-popup-big" href="#" class="calculate-popup__column-link">Вклад Комфорт</a>
          </li>
        </ul>
      </div>
      <div class="calculate-popup__column calculate-popup__column--white">
        <p class="calculate-popup__column-title">Калькулятор рассрочки</p>
        <ul class="calculate-popup__column-list">
          <li class="calculate-popup__column-item">
            <a data-fancybox data-src="#calculate-popup-big" href="#" class="calculate-popup__column-mark">до 5 млн.</a>
            <a data-fancybox data-src="#calculate-popup-big" href="#" class="calculate-popup__column-link">АвтоРассрочка</a>
          </li>
          <li class="calculate-popup__column-item">
            <a data-fancybox data-src="#calculate-popup-big" href="#" class="calculate-popup__column-mark">до 1 млн.</a>
            <a data-fancybox data-src="#calculate-popup-big" href="#" class="calculate-popup__column-link">Экспресс Рассрочка</a>
          </li>
          <li class="calculate-popup__column-item">
            <a data-fancybox data-src="#calculate-popup-big" href="#" class="calculate-popup__column-mark">до 9 млн.</a>
            <a data-fancybox data-src="#calculate-popup-big" href="#" class="calculate-popup__column-link">Финансирование для бизнеса</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
