<header class="header">
  <input type="hidden" class="header-menu__helper">
  <div class="header__overfloy"></div>
  <div class="header-menu">
    <div class="container">
      <div class="header-menu__inner">
        <button class="header-menu__close">
          <div class="header-menu__close-inner">
            <span></span>
            <span></span>
          </div>
        </button>
        <p class="header-menu__title">Инвестиционно-финансовая компания</p>
        <ul class="header-menu__list">
          <li class="header-menu__item">
            <a href="#" class="header-menu__link">О компании</a>
          </li>
          <li class="header-menu__item">
            <a href="#" class="header-menu__link">Отзывы</a>
          </li>
          <li class="header-menu__item">
            <a href="#" class="header-menu__link">Отчетность</a>
          </li>
          <li class="header-menu__item">
            <a href="#" class="header-menu__link">Наши партнеры</a>
          </li>
          <li class="header-menu__item">
            <a href="#" class="header-menu__link">Сотрудничество</a>
          </li>
          <li class="header-menu__item contacts">
            <a href="#" class="header-menu__link">Контакты</a>
          </li>
        </ul>
        <div class="header-menu__bottom">
          <div class="header-menu__item contacts">
            <a href="#" class="header-menu__link-lk">Личный Кабинет</a>
          </div>
          <div class="header-menu__item contacts">
            <a href="#" class="header-menu__link-online">Онлайн-заявка</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header__inner">
      <div class="header-top">
        <div class="header-top__left">
          <button type="button" class="burger-btn">
            <span></span>
          </button>
          <img src="./img/logo.svg" alt="logo" class="header-top__logo">
          <p class="header-top__title">Инвестиционно-финансовая компания</p>
          <div class="header-top__location">Город  Казань</div>
          <nav class="header-top__menu">
            <ul class="header-top__menu-list">
              <li class="header-top__menu-item">
                <a href="#" class="header-top__menu-link">О компании</a>
              </li>
              <li class="header-top__menu-item">
                <a href="#" class="header-top__menu-link">Отзывы</a>
              </li>
              <li class="header-top__menu-item">
                <a href="#" class="header-top__menu-link">Отчетность</a>
              </li>
              <li class="header-top__menu-item">
                <a href="#" class="header-top__menu-link">Наши партнеры</a>
              </li>
              <li class="header-top__menu-item">
                <a href="#" class="header-top__menu-link">Сотрудничество</a>
              </li>
              <li class="header-top__menu-item contacts">
                <a href="#" class="header-top__menu-link">Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header-top__right">
          <div class="header-top__menu-language">RU</div>
          <a href="#" class="header-top__link-lk">Личный Кабинет</a>
        </div>

      </div>
      <div class="header-bottom">
        <h1>Нурфинанс</h1>
        <img src="./img/logo.svg" alt="logo" class="header-bottom__logo">
        <nav class="header-bottom__menu">
          <ul class="header-bottom__menu-list">
            <li class="header-bottom__menu-item">
              <a href="#" class="header-bottom__menu-link">Инвестиции</a>
            </li>
            <li class="header-bottom__menu-item">
              <a href="#" class="header-bottom__menu-link">Рассрочка</a>
            </li>
            <li class="header-bottom__menu-item">
              <a data-fancybox data-src="#calculate-popup" class="header-bottom__menu-link">Калькулятор</a>
            </li>
          </ul>
        </nav>
        <a href="tel:88002700700" class="header-bottom__tel">8 800 2700 700</a>
        <div class="header-bottom__links">
          <a href="#" class="header-bottom__link-lk">Личный Кабинет</a>
          <a href="#" class="header-bottom__link-online">Онлайн-заявка</a>
        </div>
      </div>
    </div>
  </div>
</header>
